@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
  @apply bg-gray-100 text-gray-500
}
a:hover {
  @apply transition duration-200;
  @apply text-gray-700
}